#header {
  height: 45px;
  background-color: #006699;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#header > h4 {
  margin: 0;
  line-height: 45px;
  font-weight: normal;
}
#header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 14px;
  color: #fff;
}
#header .fa-search-plus {
  color: #fff;
  position: absolute;
  top: 14px;
  right: 10px;
}
#header form {
  padding-left: 35px;
  padding-right: 35px;
}
#header form > input {
  text-align: left;
  width: 100%;
  background-color: #fff;
  height: 30px;
  margin-top: 7px;
  font-size: 14px;
  color: #000;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #006699;
  z-index: 999;
}
#footer .mui-row > div > a {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 11px;
}
#footer .mui-row > div > a::before {
  display: block;
}
#footer .mui-row > div > a.active {
  color: orange;
}
html,
body {
  height: 100%;
}
#main {
  padding-top: 45px;
  padding-bottom: 50px;
  height: 100%;
  background-color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
}
img {
  /* 解决图片3px的间隙 */
  vertical-align: middle;
}
li {
  /* 去掉小圆点 */
  list-style: none;
}
a {
  color: #666;
}
#main {
  background-color: #ccc;
}
#main .category-left {
  float: left;
  border-right: 1px solid #ccc;
}
#main .category-left > ul > li {
  list-style: none;
  background-color: #fff;
}
#main .category-left > ul > li > a {
  display: block;
  width: 80px;
  height: 45px;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
#main .category-left > ul > li.active > a {
  background-color: #ccc;
  color: #006699;
}
#main .category-right {
  overflow: hidden;
  padding: 10px;
  width: auto;
  left: 80px;
  top: 45px;
  bottom: 50px;
}
#main .category-right .mui-scroll {
  position: relative;
}
#main .category-right .mui-scroll .mui-row {
  background-color: #fff;
}
#main .category-right .mui-scroll .mui-row > div > a {
  display: block;
  text-align: center;
}
#main .category-right .mui-scroll .mui-row > div > a > img {
  width: 100%;
}
#main .category-right .mui-scroll .mui-row > div > a > p {
  font-size: 12px;
}
