#header {
  height: 45px;
  background-color: #006699;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#header > h4 {
  margin: 0;
  line-height: 45px;
  font-weight: normal;
}
#header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 14px;
  color: #fff;
}
#header .fa-search-plus {
  color: #fff;
  position: absolute;
  top: 14px;
  right: 10px;
}
#header form {
  padding-left: 35px;
  padding-right: 35px;
}
#header form > input {
  text-align: left;
  width: 100%;
  background-color: #fff;
  height: 30px;
  margin-top: 7px;
  font-size: 14px;
  color: #000;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #006699;
  z-index: 999;
}
#footer .mui-row > div > a {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 11px;
}
#footer .mui-row > div > a::before {
  display: block;
}
#footer .mui-row > div > a.active {
  color: orange;
}
html,
body {
  height: 100%;
}
#main {
  padding-top: 45px;
  padding-bottom: 50px;
  height: 100%;
  background-color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
}
img {
  /* 解决图片3px的间隙 */
  vertical-align: middle;
}
li {
  /* 去掉小圆点 */
  list-style: none;
}
a {
  color: #666;
}
#main .search-form {
  padding: 10px;
  position: relative;
  padding-right: 70px;
}
#main .search-form .search-input {
  display: inline-block;
  height: 30px;
  background-color: #fff;
  color: #000;
  border: 1px solid #006699;
  text-align: left;
  margin-bottom: 0px;
  font-size: 14px;
}
#main .search-form > button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 30px;
  background-color: #006699;
  border-color: #006699;
}
#main .search-history {
  padding: 10px;
}
#main .search-history .search-history-heading > span {
  font-size: 14px;
}
#main .search-history .search-history-heading > span:first-child {
  float: left;
}
#main .search-history .search-history-heading > span:last-child {
  float: right;
}
#main .search-history .search-history-list {
  margin-top: 10px;
}
#main .search-history .search-history-list > ul {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#main .search-history .search-history-list > ul > li > a {
  font-size: 14px;
}
#main .search-history .search-history-list > ul > li > a > i {
  float: right;
}
